:root {
	--fuchsia: #ef5da8;
	--iris: #5d5fef;
	--blue-100: #3877ee;
	--blue-200: #42567a;
	--blue-200-rgb: 66, 86, 122;

	--font-pt-sans: 'PT Sans', sans-serif;
	--font-bebas-neue: 'Bebas Neue', sans-serif;

	--fz-xs: 0.875rem;
	--fz-base: 1rem;
	--fz-md: 1.25rem;
	--fz-lg: 1.563rem;
	--fz-xl: 3.5rem;
	--fz-2xl: 12.5rem;
}
