@use 'mixin' as *;
@use 'variables';
@use 'reset';

html {
	overflow: hidden auto;
	min-width: 320px;
	font-size: 16px;
}
body {
	overflow: hidden;
	background-color: #f4f5f9;
	font-family: var(--font-pt-sans);
	font-weight: 400;
	font-size: 1rem;
	font-style: normal;
	line-height: 1;
}

#root {
	max-width: 92.5rem;
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 1.25rem;
}
